body {
  text-align: center;
  font-family: Helvetica;
}

.header, .designed {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.link {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.designed {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer, .bottom-nav {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
